@model List<AnimeFLV.Models.Capitulos>
@{
    ViewBag.Title = "Capitulos";
}

<h2>@ViewBag.NameCategory</h2>

<div class="container" style="width: 1187px;">
    <div class="row product" style="width: 1182px;">
        <div class="col-sm-2 col-md-3">
            <div class="thumbnail">
                <img src="~/@ViewBag.ImagenSerie" alt="...">
                <div class="caption">
                    <p>
                        <button class="btn btn-success" type="button" id="emi">
                            <span class="fa-tv">@ViewBag.estados</span>
                        </button>
                    </p>
                    <p></p>
                    <p>
                        <a href="#" class="btn btn-danger" role="button">FAVORITOS</a>
                        <a href="#" class="btn btn-info" role="button">SEGUIR</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-10 col-md-8" style="color:black">
            <div class="thumbnail">
                <div class="panel panel-default">
                    <div class="panel-body" style="height: 55px;">
                        <span>@ViewBag.NameSerie</span>
                    </div>
                    <span class="label label-default" style="margin: 10px;">Accion</span>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body"><span>@ViewBag.Description</span></div>
                </div>

                <div class="panel panel-default">
                    <h4>Lista de Capitulos</h4>
                    <table class="table-bordered table-hover table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 880px;">Capitulo</th>
                                <th>Enlace</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>
                                        <div class="btn-toolbar">
                                            <button class="btn btn-info" style="height:30px;">
                                                <a href="@Url.Action("Ver", new { id=item.ID })">
                                                    <img src="~/Recursos/img/play42.png" />
                                                </a>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

