@model List<AnimeFLV.Models.Capitulos>
@{
    ViewBag.Title = "Capitulos";
}

<h2>@ViewBag.NameCategory</h2>

<div class="container" style="width: 1187px;">
    <div class="row product">
        <div class="card" style="margin: 10px;">
            <div class="card-body">
                <img src="~/@ViewBag.ImagenSerie" alt="...">
                <div class="card-img">
                    <p>
                        <button class="btn btn-success" type="button" id="emi">
<<<<<<< HEAD
                            <span class="fa-tv">@ViewBag.estados</span>
=======
                            <span class="fa-tv">@ViewBag.estado </span>
>>>>>>> 1effbc62a83d832908987e1e5decda1a4439ba77
                        </button>
                    </p>
                    <p></p>
                    <p>
                        <a href="#" class="btn btn-danger" role="button">FAVORITOS</a>
                        <a href="#" class="btn btn-info" role="button">SEGUIR</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="card" style="color:black; width:770px; margin:10px;">
            <div class="card-body">
                <div class="card-header">
                    <div class="container-fluid" style="height: 55px;">
                        <span>@ViewBag.NameSerie</span>
                    </div>
                    <div class="container-fluid">
                        <span class="badge badge-pill badge-primary">@ViewBag.NameCategory</span>
                    </div>
                </div>

                <div class="card-body">
                    <div class="panel-body"><span>@ViewBag.Description</span></div>
                </div>

                <div class="card-footer">
                    <h4>Lista de Capitulos</h4>
                    <table class="table-bordered table-hover table table-striped">
                        <thead>
                            <tr>
                                <th style="width:750px;">Capitulo</th>
                                <th>Enlace</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>
                                        <div class="btn-toolbar">
                                            <button class="btn btn-primary">
                                                <a href="@Url.Action("Ver", new { id=item.ID })">
                                                    <img src="~/Recursos/img/play42.png" style="height:25px;" />
                                                </a>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

