@model List<AnimeFLV.Models.Categorias>

@{
    ViewBag.Title = "Categorias";
}
<div class="card">
    <div class="card-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color:#464B4C;">
                <li class="breadcrumb-item"><a class="text-light" href="@Url.Action("Index")">Home</a></li>
                <li class="breadcrumb-item active text-info" aria-current="page">Categorias</li>
            </ol>
        </nav>
        @foreach (var item in Model)
        {
            <div class="card" style="width:30%; display:inline-block; margin:10px; background-color:rgba(0, 0, 0, 0.83); border-radius:5%;">
                <a href="@Url.Action("Series", new { id=item.ID })">
                    <img class="card-img-bottom" src="~/@item.ImagePath" alt="Card image cap" style="height: 200px; margin:0.5px; border-radius:5%;">
                    <div class="card-img-bottom" style="height:50px; text-align:center;">
                        <h6 class="text-light navbar-brand">@item.Name</h6>
                    </div>
                </a>
            </div>
            @*<div class="content">
                <a href="@Url.Action("Series", new { id=item.ID })">
                    <img src="~/@item.ImagePath" />
                    <div class="background-title"></div>
                    <h3 class="title">@item.Name</h3>
                </a>
            </div>*@
        }


    </div>
</div>